<p-table [value]="category" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="caption">
    <div class="card flex justify-between ">
      <input type="text"  pInputText [(ngModel)]="value" placeholder="search" />
      <button class="btn bg-blue-950 text-white">create</button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>description</th>
      <th>Statues</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>
        <img
          [src]="product.image || './assets/placeholder-image.png'"
          [alt]="product.name"
          width="100"
          class="shadow-4"
        />
      </td>
      <td>{{ product.description }}</td>
      <td>
        <p-tag
          [value]="product.isDelete"
          [severity]="getSeverity(product.isDelete)"
        />
      </td>
      <td>
        <button class="btn bg-sky-400" routerLink="">
          <i class="fa-regular fa-eye"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ category ? category.length : 0 }} products.
    </div>
  </ng-template>
</p-table>
