/* li{
    padding-block:20px ;
    padding-inline: 10px;
    @apply  rounded-xl cursor-pointer
} */
.thin-orange-scrollbar {
    direction: rtl;
  }
.thin-orange-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .thin-orange-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .thin-orange-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff7961; 
    border-radius: 4px; 
    border: 2px solid #ff796162 ; 
  }
  i{
    @apply text-lg text-white
  }