<section class="md:w-3/12 bg-blue-950 fixed top-0 left-0 h-full py-5">
    <h1 class="text-4xl text-white text-center font-semibold font-mono">Food Dilevery</h1>
<div class="text-white p-8 text-2xl py-8">
    <ul class="flex flex-col gap-2 ">
        <li routerLink="cate" routerLinkActive="bg-slate-50 text-slate-900 shadow-md"><i class="fa-solid fa-layer-group"></i> Category</li>
        <li routerLink="product" routerLinkActive="bg-slate-50 text-slate-900 shadow-md"><i class="fa-solid fa-box"></i> product</li>
        <li routerLink="order" routerLinkActive="bg-slate-50 text-slate-900 shadow-md"><i class="fa-solid fa-list-check"></i> order</li>
        <li routerLink="user" routerLinkActive="bg-slate-50 text-slate-900 shadow-md"><i class="fa-regular fa-user"></i> user</li>
     </ul>
</div>
</section>
<section class="md:w-9/12 ms-auto">
<router-outlet></router-outlet>
</section>